<ul>
  <li><%= render '/refinery/admin/search', :url => refinery.admin_resources_path -%></li>
  <% unless controller.controller_name == 'resources' %>
    <li>
      <%= link_to t('.back_to_resources'), refinery.admin_resources_path, :class => 'back_icon' %>
    </li>
  <% end %>
  <li>
    <%= action_label(:upload,  refinery.new_admin_resource_path(:dialog => true), t('.upload_new'))%>
  </li>
</ul>

<ul class='collapsible_menu'>
  <li class='not_a_link'>
    <%= link_to t('.resource_categories.title'), '#',
                :class => 'folder_icon' %>
  </li>
  <li>
    <%= link_to t('.resource_categories.manage'), refinery.admin_resource_categories_path,
                :class => 'folder_edit_icon' %>
  </li>
  <li>
    <%= link_to t('.resource_categories.new'), refinery.new_admin_resource_category_path,
                :class => 'folder_add_icon' %>
  </li>

  <% if !searching? && ::Refinery::Admin::ResourceCategoriesController.sortable? && ::Refinery::ResourceCategory.many? %>
    <li>
      <%= action_label :reorder,
                       refinery.admin_resource_categories_path,
                       t('.resource_categories.reorder', what:  "ResourceCategories"), id: 'reorder_action'%>
      <%= action_label :reorder_done,
                       refinery.admin_resource_categories_path,
                        t('.resource_categories.reorder_done', what: "ResourceCategories"), id: 'reorder_action_done', class: 'hidden'%>
    </li>
  <% end %>


</ul>



